layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="homelab-cli" cwd="." focus=true
    tab name="claude-code" cwd="." {
        pane {
            command "claude"
            cwd "."
        }
    }
}
